body {
  font-family: "Cutive Mono", monospace;
  margin: 0 auto;
  color: #2a2a2a;
}

h1 {
  font-size: 70px;
  font-weight: bolder;
  letter-spacing: 4px;
}

h2 {
  font-size: 55px;
  margin-bottom: 60px;
  font-weight: bold;
}

h3 {
  font-size: 40px;
  margin-bottom: 50px;
  text-align: center;
  font-weight: bold;
}

h4 {
  font-size: 30px;
  margin-bottom: 10px;
}

h1,
h3,
h4 {
  text-transform: uppercase;
}

.contact-icons a {
  text-decoration: none;
}

section {
  margin: 50px;
}

/* ABOUT */

#about-me-container {
  padding: 0 10vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#about-me-container p {
  line-height: 30px;
  align-self: center;
  margin-left: 5vw;
  margin-top: 50px;
}

.cards {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}

#headshot-img {
  height: 225px;
  width: 225px;
  border-radius: 150px;
}

/* SKILLS */

#skills-cards {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  text-align: center;
  align-items: center;
}

#skills-cards div {
  height: 175px;
  width: 195px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#skills-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* PROJECTS */

.project-card {
  width: 450px;
  height: 400px;
  margin: 0 1em 2em 1em;
  background-color: transparent;
  perspective: 1000px;
}

.project-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
}

.project-card:hover .project-card-inner {
  transform: rotateY(180deg);
}

.project-card-front,
.project-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  border-radius: 3px;
  box-shadow: 0 0 4px 0 #d3d3d3;
}

.project-card-front {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #d4d4d4;
  background-color: #2a2a2a;
}

.project-card-front p {
  font-size: 18px;
  margin: 20px 40px 0 40px;
}

.project-card-back {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  color: white;
  align-items: center;
  background-color: #d3d3d3;
  transform: rotateY(180deg);
}

.project-card-back h4 {
  color: #2a2a2a;
}

.project-card-buttons a,
.project-card-buttons p {
  padding: 6px 0;
  width: 150px;
  background-color: rgba(255, 255, 255, 0.7);
  text-decoration: none;
  border-radius: 20px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 12px;
  color: #2a2a2a;
  margin-top: 10px;
}

.project-card-buttons p:hover,
.project-card-buttons a:hover {
  cursor: pointer;
  background-color: white;
}

.project-card-buttons {
  display: flex;
  flex-direction: column;
}

.project-card-buttons-mobile {
  display: none;
}

.project-card-tech {
  text-transform: uppercase;
}

#petster-img {
  height: 50%;
}

.website-img {
  width: 50%;
}

/* Pop up */

.pop-up-demo {
  position: fixed;
  display: none;
  flex-direction: column;
  width: 900px;
  height: 700px;
  top: 50%;
  left: 50%;
  margin-top: -350px;
  margin-left: -450px;
  border: 1px #2a2a2a solid;
  border-radius: 3px;
  overflow: hidden;
  background-color: white;
}

.fas.fa-times {
  padding: 20px;
}

.fas.fa-times:hover {
  cursor: pointer;
  color: gray;
}

.pop-up-demo-x {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.pop-up-demo-content {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* Footer */

footer {
  background-color: #2a2a2a;
  justify-content: flex-start;
}

footer,
header nav {
  height: 80px;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
}

header nav {
  justify-content: flex-end;
}

.contact-icons a:last-of-type {
  margin-right: 2em;
}

.contact-icons a:first-of-type {
  margin-left: 2em;
}

.fab.fa-linkedin,
.fab.fa-github,
.fas.fa-envelope {
  padding: 0 20px 0 20px;
  color: white;
}

.fab.fa-linkedin:hover,
.fab.fa-github:hover,
.fas.fa-envelope:hover {
  color: #66fcf1;
}

/* HEADER */

header {
  background-color: #45a29e;
}

#hero-image-container {
  width: 100%;
  height: 675px;
  color: #2a2a2a;
  margin: 0 auto;
}

#hero-image-text {
  height: 100%;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#hero-image-text h1 {
  padding: 30px;
}

#hero-image-button {
  text-decoration: none;
  color: #45a29e;
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 3px;
  font-size: 18px;
  padding: 15px 20px;
}

#hero-image-button:hover {
  background-color: white;
  color: #2a2a2a;
}

@media only screen and (max-width: 1330px) {
  #project-section {
    width: 70%;
    margin: 0 auto;
  }
  #about-me-container p {
    line-height: 45px;
  }
}

@media only screen and (max-width: 980px) {
  .pop-up-demo {
    width: 700px;
    height: 550px;
    margin-top: -275px;
    margin-left: -350px;
  }

  h1 {
    font-size: 60px;
    letter-spacing: 2px;
  }

  h2 {
    font-size: 45px;
  }

  h3 {
    font-size: 35px;
    margin-bottom: 50px;
    text-align: center;
  }

  h4 {
    font-size: 25px;
    margin-bottom: 10px;
  }

  p {
    font-size: 15px;
  }

  #about-me-container p {
    line-height: 35px;
  }
}

@media only screen and (max-width: 720px) {
  h1 {
    font-size: 50px;
    letter-spacing: 2px;
  }

  h2 {
    font-size: 37.5px;
  }

  h3 {
    font-size: 20px;
    margin-bottom: 50px;
    text-align: center;
  }

  h4 {
    font-size: 20px;
    margin-bottom: 10px;
  }

  p {
    font-size: 15px;
  }

  .pop-up-demo {
    width: 500px;
    height: 350px;
    margin-top: -175px;
    margin-left: -250px;
  }

  #about-me-container p {
    line-height: 25px;
    margin-left: 0;
  }

  section {
    margin: 30px;
  }
}

@media only screen and (max-width: 460px) {
  footer,
  header nav {
    justify-content: center;
  }

  h1 {
    font-size: 30px;
    letter-spacing: 2px;
  }

  h2 {
    font-size: 22.5px;
  }

  h3 {
    font-size: 20px;
    margin-bottom: 50px;
    text-align: center;
  }

  h4 {
    font-size: 18px;
    margin-bottom: 10px;
  }

  .project-card-front p {
    font-size: 14px;
  }

  #skills-cards li {
    font-size: 10px;
  }

  #skills-cards div {
    width: 70px;
  }

  .pop-up-demo {
    width: 300px;
    height: 500px;
    top: 50%;
    left: 50%;
    margin-top: -250px;
    margin-left: -150px;
  }

  #project-card-buttons-mobile {
    display: flex;
    margin-top: 10px;
  }

  #project-card-buttons-mobile p,
  #project-card-buttons-mobile a {
    font-size: 14px;
  }

  .project-card {
    width: 525px;
    height: 325px;
  }
}
