body {
  font-family: "Varela Round", sans-serif;
  margin: 0 auto;
  color: #2a2a2a;
}

h1 {
  font-size: 70px;
  font-weight: 950;
  letter-spacing: 4px;
}

h2 {
  font-size: 52.5px;
}

h3 {
  font-size: 25px;
  margin-bottom: 50px;
  text-align: center;
}

h4 {
  font-size: 20px;
  margin-bottom: 10px;
  font-weight: 950;
}

section {
  padding: 100px 0;
}

h1,
h3,
h4 {
  text-transform: uppercase;
}

.contact-icons a {
  text-decoration: none;
}

/* HEADER */

#hero-image-container {
  width: 100%;
  height: 625px;
  background-image: url("https://images.unsplash.com/photo-1523127914958-b8e150c4463f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1351&q=80");
  color: #2a2a2a;
  margin: 0 auto;
}

#hero-image-text {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.6);
}

#hero-image-text h1 {
  padding: 30px;
}

/* ABOUT */

#about-me-container {
  padding: 0 15vw;
}

#about-me-container p {
  line-height: 40px;
  align-self: center;
}

.cards {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}

/* SKILLS */

#skills-cards {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  text-align: center;
  align-items: center;
  transform: skewY(3deg);
}

#skills-cards div {
  height: 175px;
  width: 175px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#skills-section {
  background-color: rgba(0, 51, 102, 0.5);
  transform: skewY(-3deg);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#skills-section h3 {
  transform: skewY(5deg);
}

/* PROJECTS */

.project-card {
  width: 300px;
  height: 250px;
  margin: 0 1em 2em 1em;
  background-color: transparent;
  perspective: 1000px;
}

.project-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 0 8px 0 #d4d4d4;
}

.project-card:hover .project-card-inner {
  transform: rotateY(180deg);
}

.project-card-front,
.project-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  border-radius: 10px;
}

.project-card-back {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.project-card-front {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #2a2a2a;
  color: #d4d4d4;
}

.project-card-front p {
  font-size: 13px;
  margin-top: 20px;
}

.project-card-front p:last-of-type {
  font-weight: 900;
  font-size: 14px;
}

.project-card-back {
  background-color: rgba(0, 51, 102, 0.5);
  color: white;
  transform: rotateY(180deg);
  align-items: center;
  box-shadow: 0 0 8px 0 #d4d4d4;
}

.project-card-back a {
  padding: 12px 0;
  width: 110px;
  background-color: white;
  color: #2a2a2a;
  border-radius: 20px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 10px;
  margin-top: 10px
}

/* Footer */

footer,
header nav {
  height: 100px;
  width: 100%;
  background-color: #2a2a2a;
  display: flex;
  flex-direction: row;
}

footer {
  justify-content: flex-start;
  align-items: center;
}

header nav {
  justify-content: flex-end;
  align-items: center;
}

.contact-icons a:last-of-type {
  margin-right: 2em;
}

.contact-icons a:first-of-type {
  margin-left: 2em;
}

.fab.fa-linkedin,
.fab.fa-github,
.fas.fa-envelope {
  padding: 0 20px 0 20px;
  color: white;
}

@media only screen and (max-width: 720px) {
  h1 {
    font-size: 50px;
    font-weight: 950;
    letter-spacing: 2px;
  }

  h2 {
    font-size: 37.5px;
  }

  h3 {
    font-size: 20px;
    margin-bottom: 50px;
    text-align: center;
  }

  h4 {
    font-size: 20px;
    margin-bottom: 10px;
    font-weight: 950;
  }

  p {
    font-size: 15px;
  }

}

@media only screen and (max-width: 460px) {

  footer,
  header nav {
    justify-content: center;
  }

  h1 {
    font-size: 30px;
    font-weight: 950;
    letter-spacing: 2px;
  }

  h2 {
    font-size: 22.5px;
  }

  h3 {
    font-size: 15px;
    margin-bottom: 50px;
    text-align: center;
  }

  h4 {
    font-size: 15px;
    margin-bottom: 10px;
    font-weight: 950;
  }

  p {
    font-size: 14px;
  }

  #skills-cards li {
    font-size: 10px;
  }

  #skills-cards div {
    width: 70px;
  }
}